body
{
    font-family: Verdana, sans-serif;
    font-size: 80%;
    line-height: 140%
}

h1, h2, h3, h4, h5, h6
{
    color:#c32;
    line-height: 100%
}

h1, h2, h3{font-size: 2em}
h4 {font-size: 1.5em}
h5 {font-size: 1.4em}
h6 {font-size: 1.2em}
a {color:#264}
a.links {text-decoration:none;}
a.pageLink
{
    color:#264;
    line-height: 100%;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration:none;
}

table.simple_table
{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
/*     margin-left:auto;  */
/*     margin-right:auto; */
}

table.simple_table tr, td, th
{
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*table.empty_table
{
    border: none;
}*/

#body
{
    width: 1000px;
    margin: 0 auto;
    position: relative
}

#sitename
{
    font-size: 2em;
    line-height: 100%;
    margin: 1em 0;
    color: #264;
    text-align: center;
    font-family: cursive;
    font-weight: bold
}

#header
{
    clear: both;
    height: 200px;
    background: url('../images/sfondo.png') no-repeat;
    position: relative
}

#header_content
{
    position: absolute;
    left: 80px;
    bottom: 20px;
    width: 400px;
    overflow: hidden;
    opacity: 0.75;
    padding: 1em
    filter: alpha(opacity=75);
    background: #fff;
    border-radius: 10px;
    -moz-opacity: 0.75;
    -moz-border-radius: 10px;
}

#mainnav
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    z-index: 1;
    max-width: 850px
}

#mainnav ul
{
    list-style: none;
    padding: 0;
    margin: 0
}

#mainnav ul.menulevel2
{
    position: absolute;
    display: none;
    z-index:2;
    top: 46px
}

#mainnav ul.menulevel3
{
    position: absolute;
    display: none;
    left: 200px;
    top: 0
}

#mainnav ul.menulevel1 > li:hover > ul {display: block;}
#mainnav ul.menulevel2 > li:hover > ul {display: block;}

#mainnav ul.language li
{
    float: left;
    border-bottom: 3px solid #90ff00;
    border-top: 3px solid #90ff00;
    width: 50px;
}

#mainnav ul.menulevel1 li
{
    float: left;
    border-bottom: 3px solid #90ff00;
    border-top: 3px solid #90ff00;
}

#mainnav ul.menulevel2 li
{
    float: none;
    border-bottom: none;
    border-top: none
}

#mainnav ul.menulevel3 li
{
    float: none;
    border-bottom: none;
    border-top: none
}

#mainnav li
{
    position: relative;
    width: 200px;
    background: #000;
    font: 13px Verdana, sans-serif;
}

li:last-child
{
   list-style-type: none; 
}

#mainnav span
{
    width: 200px;
    height: 43px;
    color: white;
    display: table-cell;
    user-select: none;
    text-align: center;
    vertical-align: middle;
}

#mainnav a
{
    color: white;
    text-decoration: none;
    text-align: center
}

/* #mainnav li.sdoc > a:hover */
/* #mainnav li.sdocs > a:hover */
/* #mainnav a:hover {background: #444} */

/* #mainnav li.sdocs > a {color: #c32; font-weight: bold} */
/* #mainnav li.sdoc >  a {color: #c32; font-weight: bold} */

#content
{
    float:none;
    width: 1000px;
    margin-top: 0px;
    text-align: justify
}

/*#sidebar
{
    float: right;
    width: 50px
}*/

/*#specnav
{
    text-align: right;
    margin-top: 10px;
    margin-bottom: 0px
}*/

/*#searchform input.text
{
    width: 200px;
    position: right;
}*/

#footerbox
{
    clear: both;
    padding-top: 50px
}

#footer
{
    text-align:center
}

.alignleft  {float: left;}
.alignright {float: right;}
